@media screen and (min-width: 1024px) {
  .top-page {
    background: #222 url(/common/image/top-mainvisual.jpg) no-repeat center 35%;
    background-size: 95% auto;
  }
  .top-content {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 25%;
    color: #fff;
    text-align: center;
  }
  .top-content__catch {
    font-size: 12px;
    margin-bottom: 5%;
  }
  .search-result-page {
    margin: 0;
    padding: 0;
    background-color: #D7DDE2;
  }
  .video-area {
    position: relative;
    width: 58%;
    padding-top: 45%;
    margin: 1%;
    float: left;
  }
  .video-area iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .list-title {
    width: 36%;
    padding: 0.5% 2% 0 2%;
    font-size: 16px;
    float: right;
  }
  .playlist {
    width: 38%;
    margin: 0 1% 1% 1%;
    padding: 1% 0 1% 0;
    background: #F6F8F8 0% 0% no-repeat;
    -webkit-box-shadow: 3px 0px 10px #0C0C0C29;
            box-shadow: 3px 0px 10px #0C0C0C29;
    border-radius: 18px;
    float: left;
  }
  .search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 90%;
    left: 95%;
    width: 55px;
    height: 55px;
    background-color: #3B5C97;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 6px #858585BA;
            box-shadow: 2px 2px 6px #858585BA;
  }
  .search-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  .search-button :hover {
    -webkit-box-shadow: 3px 3px 12px #858585BA;
            box-shadow: 3px 3px 12px #858585BA;
  }
}

@media screen and (max-width: 1024px) {
  .top-page {
    background: #222 url(/common/image/top-mainvisual.jpg) no-repeat center center/cover fixed;
  }
  .top-content {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    color: #fff;
    text-align: left;
  }
  .top-content__catch {
    font-size: 12px;
    margin-bottom: 5%;
  }
  .search-result-page {
    margin: 64% 0 0 0;
    padding: 0;
    background-color: #D7DDE2;
  }
  .video-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding-top: 60%;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
  }
  .video-area iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .list-title {
    width: 92%;
    padding: 0 4%;
    font-size: 16px;
  }
  .playlist {
    width: 96%;
    margin: 0 2% 2% 2%;
    padding: 3% 0 3% 0;
    background: #F6F8F8 0% 0% no-repeat;
    -webkit-box-shadow: 3px 0px 10px #0C0C0C29;
            box-shadow: 3px 0px 10px #0C0C0C29;
    border-radius: 18px;
    float: left;
  }
  .search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 88%;
    left: 80%;
    width: 55px;
    height: 55px;
    background-color: #3B5C97;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 6px #858585BA;
            box-shadow: 2px 2px 6px #858585BA;
  }
  .search-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  .search-button :hover {
    -webkit-box-shadow: 3px 3px 12px #858585BA;
            box-shadow: 3px 3px 12px #858585BA;
  }
}

.track {
  width: 100%;
  padding: 2% 4%;
  margin-bottom: 1.0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.track__image {
  width: 20%;
}

.track__image--circled {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: left;
}

.track__image--circled img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.track__name {
  width: 77%;
  padding-left: 3%;
  margin-top: 1.5%;
  font-size: 12px;
  font-weight: bold;
  color: #505050;
  word-wrap: break-word;
  float: left;
}

.track__artist {
  width: 77%;
  padding-left: 3%;
  font-size: 10px;
  color: #838383;
  word-wrap: break-word;
  float: left;
}

.track--current {
  background-color: #e8eaea;
  border-left: 4px solid #DBAD00;
}

.track--current .track__image {
  margin-left: -4px;
}

.search__input {
  width: 100%;
  padding: 4% 0;
  font-size: 14px;
  margin-bottom: 4%;
  border: none;
  border-radius: 14px;
  opacity: 0.6;
  color: #222;
  text-align: center;
}

.search__input::-webkit-input-placeholder {
  color: #444;
}

.search__input:-ms-input-placeholder {
  color: #444;
}

.search__input::-ms-input-placeholder {
  color: #444;
}

.search__input::placeholder {
  color: #444;
}

.search__input--error {
  -webkit-box-shadow: 3px 3px 30px #F5000029;
          box-shadow: 3px 3px 30px #F5000029;
  border: 1px solid #FF0000;
}

.search__input--error::-webkit-input-placeholder {
  color: #FF0000;
}

.search__input--error:-ms-input-placeholder {
  color: #FF0000;
}

.search__input--error::-ms-input-placeholder {
  color: #FF0000;
}

.search__input--error::placeholder {
  color: #FF0000;
}

.search__button {
  width: 100%;
  padding: 3% 0;
  font-size: 14px;
  background: #243E6CFC;
  -webkit-box-shadow: 0px 0px 12px #AEB0AFBA;
          box-shadow: 0px 0px 12px #AEB0AFBA;
  border: none;
  border-radius: 14px;
  color: #fff;
  opacity: 0.97;
}
/*# sourceMappingURL=main.css.map */